{% extends 'base.html' %}


{% block info %}
{% for m in fear_info %} 

<div class="container">
  <div class="row">
    <div class="col-4 border-main-menu">
      <div class="right-side_info" >
        <h2 class=" mb-2 bEYCUe">Price Statistics</h2>
        <h6 class="card-subtitle mb-2 text-muted">Buy recommendation</h6>
        <table>
            <tr>
              <th>date</th>
              <th>{{m['timestamp']}}</th>
            </tr>
            <tr>
              <td>fear&greed index</td>
              <td>{{m['value_classification']}}</td>
            </tr>
            <tr>
                <td>fear&greed value</td>
                <td>{{m['value']}}</td>
              </tr>
          </table>
      </div>
    </div>
    <div class="col-8" style="min-width: 500px;">
      <img src="https://alternative.me/crypto/fear-and-greed-index.png"  class="rounded-5">
    </div>
  </div>
</div>

<!-- <div class="grid-fear-index-container mb-2">
  <div class="right-side_info" >
    <h2 class=" mb-2 bEYCUe">Price Statistics</h2>
    <h6 class="card-subtitle mb-2 text-muted">Buy recommendation</h6>
    <table>
        <tr>
          <th>date</th>
          <th>{{m['timestamp']}}</th>
        </tr>
        <tr>
          <td>fear&greed index</td>
          <td>{{m['value_classification']}}</td>
        </tr>
        <tr>
            <td>fear&greed value</td>
            <td>{{m['value']}}</td>
          </tr>
      </table>
  </div>
  <img src="https://alternative.me/crypto/fear-and-greed-index.png" >
</div> -->

{% endfor %} 
{% endblock %} 






