{% extends 'base.html' %}



{% block info %}
<h1 class="mt-4">Currency</h1>
<div class="container">
  <div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">15 minutes timeframe</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{{url_for('get_timeframe_info', time='15m')}}" class="stretched-link"></a>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">1 hour timeframe</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{{url_for('get_timeframe_info', time='1h')}}" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">4 hours timeframe</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{{url_for('get_timeframe_info', time='4h')}}" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">1 day timeframe</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{{url_for('get_timeframe_info', time='1d')}}" class="stretched-link"></a>
        </div>
      </div> 
    </div>
  </div>
</div>

<!-- <div class="grid-container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">15 minutes timeframe</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{{url_for('get_timeframe_info', time='15m')}}" class="stretched-link"></a>
        </div>
      </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">1 hour timeframe</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{{url_for('get_timeframe_info', time='1h')}}" class="stretched-link"></a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">4 hours timeframe</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{{url_for('get_timeframe_info', time='4h')}}" class="stretched-link"></a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">1 day timeframe</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{{url_for('get_timeframe_info', time='1d')}}" class="stretched-link"></a>
        </div>
    </div> 
      
</div> -->


    <!-- {% for m in info %}
    <li>{{m}}</li>
    <p class='card-text'>Time frame={{m['time frame']}}</p>
    <p class='card-text'>{{m.symbol}}</p>
    <p class='card-text'>{{m.recomendation}}</p>
    <p class='card-text'>{{m.price}}</p>
    {% endfor %} -->
{% block fear_info %}
{% for m in fear_info %} 

<div class="container">
  <div class="row">
    <div class="col-4 border-main-menu">
      <div class="right-side_info" >
        <h2 class=" mb-2 bEYCUe">Price Statistics</h2>
        <h6 class="card-subtitle mb-2 text-muted">Buy recommendation</h6>
        <table>
            <tr>
              <th>date</th>
              <th>{{m['timestamp']}}</th>
            </tr>
            <tr>
              <td>fear&greed index</td>
              <td>{{m['value_classification']}}</td>
            </tr>
            <tr>
                <td>fear&greed value</td>
                <td>{{m['value']}}</td>
              </tr>
          </table>
      </div>
    </div>
    <div class="col-8" style="min-width: 500px;">
      <img src="https://alternative.me/crypto/fear-and-greed-index.png"  class="rounded-5">
    </div>
  </div>
</div>

<!-- <div class="grid-fear-index-container mb-2">
  <div class="right-side_info" >
    <h2 class=" mb-2 bEYCUe">Price Statistics</h2>
    <h6 class="card-subtitle mb-2 text-muted">Buy recommendation</h6>
    <table>
        <tr>
          <th>date</th>
          <th>{{m['timestamp']}}</th>
        </tr>
        <tr>
          <td>fear&greed index</td>
          <td>{{m['value_classification']}}</td>
        </tr>
        <tr>
            <td>fear&greed value</td>
            <td>{{m['value']}}</td>
          </tr>
      </table>
  </div>
  <img src="https://alternative.me/crypto/fear-and-greed-index.png" >
</div> -->

{% endfor %} 
{% endblock %}
{% endblock %} 






